/* Read all button */
button[class^="vc-ranb-button"] {
    border: none;
}

/* Message input */
div[class^="channelTextArea"] {
    /* height: 32px !important; */

    div[class^="scrollableContainer"] { /* container */
        padding: 6px 0 6px 0;
        /* height: 32px !important; */
    }

    div[class^="attachWrapper"] > button { /* attach button */
        padding: 6px 8px 6px 8px !important;
        height: 32px !important;
    }

    div[class^="textArea"] { /* textarea wrapper */
        height: fit-content !important;
        min-height: 0;
    }

    div[role="textbox"],
    div[class^="placeholder"]
    {
        /* textarea */
        padding: 4px 0 4px 0 !important;
        min-height: 8px !important;
    }

    div[class^="buttons_"] { /* remove useless buttons */
        /* height: 32px !important; */
        display: none;
    }
}

/* User area */
section[aria-label="User area"] {
    left: var(--custom-guild-list-width) !important;
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) - 12px) !important;
    margin: 0 6px 0 6px;

    button[aria-label="Noise Suppression powered by Krisp"] { /* Remove krisp button */
        display: none;
    }

    button[aria-label="Start An Activity"] { /* Remove activity button */
        display: none;
    }

    div:has(> button[aria-label="Open Soundboard"]) { /* Remove activity button */
        display: none;
    }
}